@font-face {
    font-family: 'Evo';
    src: url('./assets/Evo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    line-height: normal;
    transition: background-color 0.3s ease-in-out;
}

body {
    font-family: 'Evo', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Custom Scrollbar */
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #6C63FF transparent;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #6C63FF;
    border-radius: 20px;
}

#root {
    height: 100vh;
    width: 100vw;
}